# {{ ansible_managed }}
[global]
	workgroup = {{ samba_workgroup }}
	security = {{ samba_security }}

[share] 
	comment = Guest access share
	path = {{ samba_share_path }}
	read only = yes
	guest ok = yes
	browseable = yes
